@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* markdown editor and preview set */
blockquote {
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

/* Markdown Editor Input text */
code {
  color: gray;
}

.MuiCardMedia-media {
  width: 50%;
  max-width: 600px;
}

blockquote p {
  height: auto;
  margin-bottom: 5%;
}
